.image_wrapper {
  box-sizing: content-box;
}

.image_wrapper:nth-child(1) {
  animation: scroll 2s forwards;
}

.image_wrapper2 {
  animation: scroll 3s forwards;
}

/* .image_wrapper > span > span > img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
} */

@keyframes scroll {
  0% {
    transform: translate(-990px, -100px);
  }
  50% {
    transform: translate(1000px);
  }
  100% {
    left: translate(900px);
  }
}
