.image_wrapper {
  box-sizing: content-box;
  animation: scroll 2s forwards;
}

.image_wrapper2 {
  animation: scroll 3s forwards;
}

@keyframes scroll {
  0% {
    transform: translate(-990px, -100px);
  }
  50% {
    transform: translate(1000px);
  }
  100% {
    left: translate(900px);
  }
}

@media (max-width: 600px) {
  .image_wrapper > span > span > img {
    height: 20px;
    width: 20px;
  }
}
